/* ================================ */
/* StyleSheet for All About Samples */
/* ================================ */

/* ”Ä—p */
p#allabout { background-color: #cc0000; color: white; padding: 0.3em; font-size: 80%; }
p#copyright { font-size: 60%; font-family: Verdana,Arial,sans-serif; margin: 1em 0px; border-top: 1px gray solid; }
p#returnfunc { text-align:center; margin: 1.5em 0.5em 0.5em 0.5em; }
div.setbottom { position:absolute; bottom:0%; }
h1 { font-size: 140%; }
h2 { border-left: #cc0000 0.4em solid; padding: 0.1em 0.3em; font-size: 120%; }
.attention { margin: 1em 0px; padding: 0.5em; border: 2px solid #cc0000; background-color: #fff0f0; }
.note { font-size: 80%; }

/* -------------- */
/* All About ‹¤’Ê */
/* -------------- */
pre.pro-source{
	background-color : #eeeeee;
	padding: 4px 4px 4px 20px;
	margin: 1em 0px;
	line-height: 1.4em;
	overflow: auto;
}
